# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Logs & temporary files
train_log.txt
test_bar.png
.streamlit/
*.log

# Environments
.env
venv/
env/
ENV/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
